@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);

* {
    margin: 0;
    padding: 0;
}

body {
    
}

#topo {
    background-color: rgb(235, 98, 98);
    box-shadow: 3px 0px 10px #000;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
    display: inline;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

/*Estilo do violao*/
#violao {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
}

#titulo {
    align-items: flex-end;
    background-image: url(../IMG/banner-violao.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 400px;
}

#titulo h1{
    color: #fff;
    font-size: 48pt;
    padding-left: 20px;
    padding-bottom: 5px;
    text-shadow: 0px 0px 10px #000;
}

#escolha-acorde {
    margin: 0 auto;
    width: 700px;
}

.tipo-acorde {
    padding: 10px;
}

.tipo-acorde h2 {
    font-size: 25pt;
    margin-top: 20px;
}

.acorde {
    background-color: #ebebeb;
    box-shadow: 0px 0px 3px #000;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 3px;
}

.acorde h3 {
    border-bottom: 1px solid #000;
    font-family: 'Poiret One', cursive;
    font-size: 16.5pt;
    margin: 5px 3px 0 3px;
    padding-top: 2px;
    text-transform: uppercase;
}

.acorde button {
    align-self: flex-end;
    background-color: rgb(66,135,178);
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    color: #fff;
    cursor: pointer;
    font-size: 16pt;
    margin: 10px 10px;
    padding: 5px 10px;
}

#preparo {
    background-color: rgba(200, 200, 200, .5);
    align-items: center;
    font-size: 50pt;
    display: none;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
}

/*estilo do treinamento*/
#treinamento {
    align-items: center;
    display: none;
    flex-flow: row;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#imagem {
    width: 50%;
}

.center {
    float: none;
    display: block;
    margin: 0 auto;
}

#tempo {
    width: 50%;
}

#etapa {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    text-align: center;
}

#cronometro {
    border: none;
    font-size: 48pt;
    text-align: center;
    width: 100%;
}

/*Caixas de dialogo*/
#dialog-inicio {
    align-items: center;
    display: none;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

#dialogo {
    align-items: center;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    display: none;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#dialogo div {
    background-color: #fff;
    box-shadow: 2px 2px 10px #656565;
    display: none;
    padding: 50px;
}

#dialog-inicio h1 {
    font-family: Arial;
    text-align: center;
}

#dialog-inicio article {
    font-family: monospace;
    font-size: 14pt;
    margin: 0 auto;
    padding: 5px;
    width: 700px;
}

